.may_you_like_title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
}

.four-grid {
    grid-template-columns: repeat(4, 1fr);
}

.no-padding-bottom {
    padding-bottom: 0;
}

@media (max-width: 1000px) {
    .four-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .make_your_day__card:nth-child(4) {
        display: none;
    } 
}

@media (max-width: 750px) {
    .four-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .make_your_day__card:nth-child(4) {
        display: grid;
    } 
}

@media (max-width: 520px) {
    .make_your_day__cards {
        grid-template-columns: 100%;
    }

    .make_your_day__card:nth-child(4) {
        display: none;
    } 
}